body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1{
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

nav,
figcaption {
  text-align: center;
}

nav a {
  padding: 0 10px;
  background-color: grey;
  margin: 0 auto;
}


#featured-property p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

#details div{
  float: left;
  background-color: red;
  width: 25%;
  text-align: center;
}

/* #details {
  float: center;
  content: "";
  display: table;
  clear: both;
}

div {
  float: right;
  height: 470px;
  width: 20%;
  padding: 0 10px;
} */

/* #column1 {
  background-color: #a1edcc;
}

#column2 {
  background-color: #a0e9ed;
}

#column3 {
  background-color: #f497f1;
}

#column3 {
  background-color: #f497f1;
} */